---
title: About
permalink: /
layout: public
banner: banner
banner-offset: 30
---

{% assign unix = site.time | date: '%s' %}
{% assign time = unix | plus: 0 | date: '%H:%M' %}
{% assign date = unix | date: "%Y-%m-%d" %} 

{% assign dotw = unix | date: '%w' | minus: 1 | modulo: 7 %}
{% assign ndotw = unix | date: '%w' | modulo: 7 %}
{% assign dotm = unix | date: '%d' %} {% assign motw = dotm | minus: dotw %}

{% assign minutes = time | date: '%M' %}
{% if minutes > "45" %}
  {% assign time = unix | plus: 3600 | date: '%H:%M' %}
{% endif %}

{% capture day_start %}{{ unix | date: "%Y" }}-{{ site.season.start.month }}-{{ site.season.start.day }}{% endcapture %}
{% capture day_end %}{{ unix | date: "%Y" }}-{{ site.season.end.month }}-{{ site.season.end.day }}{% endcapture %}
{% assign day_start = day_start | date: "%s" %}
{% assign day_end = day_end | date: "%s" %}

<div class="menu">

<div class="menu-category"><div class="menu-item">
<h2>☕ About</h2>
<p style="text-align: left">
A perfect place to relax with a cup of coffee and a waffle after a long walk on Rauðasandur. We are a 40 minute drive away from Patreksfjörður and within hiking distance from the Melanes campsite.
</p>
</div></div>

<div class="menu-category"><div class="menu-item">
<h2>🕰️ Opening hours</h2>
{% assign today_times = site.times[dotw] %}
{% assign tomorrow_times = site.times[ndotw] %}
{% if unix < day_start %}
  {% assign wait = day_start | minus: unix %}
  {% assign wait = wait | divided_by: 86400 %}
  <b>Closed!</b> Opening in {{ wait }} day{% if wait > 1 %}s{% endif %}
{% elsif unix > day_end %}
  {% assign wait = day_end | minus: unix %}
  {% assign wait = wait | divided_by: 86400 %}
  <b>Closed!</b> Opening next year in {{ wait }} day{% if wait > 1 %}s{% endif %}
{% elsif time < today_times.open %}
  {% assign wait = today_times.open | minus: time %}
  <b>Closed!</b> Opening in {{ wait }} hour{% if wait > 1 %}s{% endif %}
{% elsif time >= today_times.open and time < today_times.close %}
  {% assign wait = today_times.close | minus: time %}
  <b>Open!</b> Closing in {{ wait }} hour{% if wait > 1 %}s{% endif %}
{% elsif time >= today_times.close %}
  {% assign wait = 24 | minus: time | plus: tomorrow_times.open %}
  <b>Closed!</b> Opening tomorrow in {{ wait }} hour{% if wait > 1 %}s{% endif %}
{% endif %}
<br/>
From {{ day_start | date: "%-d %b" }} to {{ day_end | date: "%-d %b" }}
<table class="timetable">
{% for time in site.times %}
<tr>
  {% assign day = forloop.index0 | plus: motw %}
  {% assign day = unix | date: "%Y-%m-" | append: day %}
  <th>{% if day == date %}<u>{% endif %}{{ day | date: '%a' }}{% if day == date %}</u>{% endif %}</th><td>{{ time.open }}-{{ time.close }}</td>
</tr>
{% endfor %}
</table>
</div></div>

<div class="menu-category"><div class="menu-item">
<h2>🙋 Contact</h2>
<table class="contact">
<tr><th style="padding-top:0">Address</th><td style="padding-top:0"><a href="{{ site.contact.map }}">{{ site.contact.address }}</a></td></tr>
<tr><th>Email</th><td><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></td></tr>
<tr style="border-bottom: none;"><th>Phone</th><td><a href="tel:{{ site.contact.tel }}">{{ site.contact.tel }}</a></td></tr>
</table>
</div></div>

</div>

<h2>🗺️ Location</h2>
<center><a href="{{ site.contact.map }}">Link to interactive map</a></center>
<div class="map">
<img src="assets/images/map-iceland.jpg" />
<img src="assets/images/map-westfjords.jpg" />
<img src="assets/images/map-cafe.jpg" />
</div>
<div style="text-align:center;margin-bottom:1em;font-size:12px">
Images provided by <a href="https://github.com/maputnik/editor">Maputnik</a><br/>
<a href="https://www.maptiler.com/copyright/">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>
</div>
