---
title: Home
permalink: /
layout: public
banner: banner
banner-offset: 30
---

{% assign unix = site.time | date: '%s' %}
{% assign time = unix | plus: 0 | date: '%H:%M' %}
{% assign date = unix | date: "%Y-%m-%d" %} 

{% assign dotw = unix | date: '%w' | minus: 1 | modulo: 7 %}
{% assign ndotw = unix | date: '%w' | modulo: 7 %}
{% assign dotm = unix | date: '%d' %} {% assign motw = dotm | minus: dotw %}

{% assign minutes = time | date: '%M' %}
{% if minutes > "45" %}
  {% assign time = unix | plus: 3600 | date: '%H:%M' %}
{% endif %}

<div class="menu">

<div class="menu-category">
<h2>☕ Cafe</h2>
<p style="text-align: justify">
A perfect place to warm up with a cup of coffee and a waffle after a long walk on Rauðasandur. We are a 40 minute drive away from Patreksfjörður and close to the Melanes campsite.
</p>
</div>

<div class="menu-category">
<h2>🕰️ Opening Hours</h2>
<center>
{% assign today_times = site.times[dotw] %}
{% assign tomorrow_times = site.times[ndotw] %}
{% if time < today_times.open %}
  {% assign wait = today_times.open | minus: time %}
    Closed! Opening in {{ wait }} hour{% if wait > 1 %}s{% endif %}
{% elsif time >= today_times.open and time < today_times.close %}
  {% assign wait = today_times.close | minus: time %}
  Open! Closing in {{ wait }} hour{% if wait > 1 %}s{% endif %}
{% elsif time >= today_times.close %}
  {% assign wait = 24 | minus: time | plus: tomorrow_times.open %}
  Closed! Opening tomorrow in {{ wait }} hour{% if wait > 1 %}s{% endif %}
{% endif %}

<table class="timetable">
{% for time in site.times %}
<tr>
  {% assign day = forloop.index0 | plus: motw %}
  {% assign day = unix | date: "%Y-%m-" | append: day %}
  <th>{% if day == date %}<u>{% endif %}{{ day | date: '%a' }}{% if day == date %}</u>{% endif %}</th><td>{{ time.open }}-{{ time.close }}</td>
</tr>
{% endfor %}
</table>
From 20 May to 30 Aug
</center>
</div>

<div class="menu-category">
<h2>🙋 Contact</h2>
<table class="contact">
<tr><th>Address</th><td><a href="{{ site.contact.map }}">{{ site.contact.address }}</a></td></tr>
<tr><th>Email</th><td><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></td></tr>
<tr style="border-bottom: none;"><th>Phone</th><td><a href="tel:{{ site.contact.tel }}">{{ site.contact.tel }}</a></td></tr>
</table>
</div>

</div>

<h2>🗺️ Location</h2>
<div class="map">
<img src="assets/images/map-iceland.jpg" />
<img src="assets/images/map-westfjords.jpg" />
<img src="assets/images/map-cafe.jpg" />
</div>
<div style="text-align:center;margin-bottom:1em;">
Images provided by <a href="https://github.com/maputnik/editor">Maputnik</a><br/>
<a href="https://www.maptiler.com/copyright/">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>
</div>
