---
title: Menu
permalink: /menu/
layout: public
banner: "banner-menu"
banner-offset: 35
banner-text: Menu
---

<div class="menu">

{% for category_hash in site.data.menu %}
{% assign category = category_hash[1] %}
<div class="menu-category"><div class="menu-item">
<h2>{{ category.name }}</h2>
{% for item in category.items %}
<h3>
{{ item.name }}
<span style="font-weight:normal;display:inline;float:right;">{{ item.price }} ISK</span>
</h3> 
{{ item.description }}
<div width="100%" style="border-bottom: 1px dashed {{ site.colors.secondary }}"></div>
{% endfor %}
</div></div>
{% endfor %}

</div>
