<div class="menu">

{% for category_hash in site.data.menu %}
{% assign category = category_hash[1] %}
<div class="menu-category"><div class="menu-item">
    <h2><span>{{ category.symbol }}</span> {{ category.name }}</h2>
{% if category.legend %}
<h3>
{% for item in category.legend %}
  <code class="symbols">{{ item.symbol}} </code>{{ item.name }}</br>
{% endfor %}
</h3>
{% endif %}
{% if category.items %}
{% for item in category.items %}
<table style="width:100%">
<tr>
  <td><h3 style="margin-top:0;margin-bottom:0">{{ item.name }}</h3></td>
  <td style="text-align:right;width:fit-content;">{{ item.price }}&nbsp;ISK</td>
</tr>
{% if item.description or item.allergens %}
<tr>
  <td>{{ item.description }}</td>
  <td class="symbols" style="vertical-align:middle;text-align:center;width:fit-content;"><h3>{{ item.allergens }}<h3></td>
</tr>
{% endif %}
</table>
<div width="100%" class="item-sep"></div>
{% endfor %}
{% endif %}
</div></div>
{% endfor %}

</div>
