<h1 class="big" style="border-bottom:none;margin-bottom:0px;padding-bottom:0px;">{{ site.title }}
<span style="float:right;">
  <p style="color: {{ site.colors.secondary }}; display: inline; vertical-align: middle;">
    {% include nav-items.html %}
  </p>
</span>
</h1>
<center class="small">
  <h1 style="padding-bottom: 0px; margin-bottom: 0px; border-bottom: none;">{{ site.title }}
  <h1 style="color: {{ site.colors.secondary }};margin-bottom:0px;padding-bottom:0px; margin-top: 0px;border-bottom: none">
    {% include nav-items.html %}
  </span>
  </h1>
</center>
