---
---

body {
  color: {{ site.colors.primary }};
  background-color: {{ site.colors.background }};
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Palatino", "Times", "Georgia", serif;
}

a {
  color: {{ site.colors.accent }};
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid {{ site.colors.secondary }};
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid {{ site.colors.secondary }};
}

table.timetable {
  font-family: "Courier", monospace;
  font-size: 1.2em;
  text-align: right;
}

.big {
  display: none;
}
.small {
  display: block;
}
@media(min-width: 600px) {
  .big {
    display: block;
  }
  .small {
    display: none;
  }
}

.container {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;

  padding-right: 16px !important;
  padding-left: 16px !important;

  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

/* ---- */
/* Menu */
/* ---- */

.category {
  display: grid;
  grid-gap: 1px;
}

.item {
  padding: 1rem;
  padding-top: 0px;
  /* height: 6rem; */
  border-bottom: 1px dashed {{ site.colors.secondary }};
}

@media(min-width: 600px) {
  .category {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    border-right: 1px dashed {{ site.colors.secondary }};
  }

  .item:nth-child(2n) {
    border-right: none;
  }

  .item:nth-last-child(2) {
    border-bottom: none;
  }
}

@media(min-width: 900px) {
  .category {
    grid-template-columns: repeat(3, 1fr);
  }

  .item:nth-child(2n) {
    border-right: 1px dashed {{ site.colors.secondary }};
  }

  .item:nth-child(3n) {
    border-right: none;
  }

  .item:nth-last-child(3) {
    border-bottom: none;
  }
}

.item:nth-last-child(1) {
  border-bottom: none;
  border-right: none;
}
